<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Juan I. Rodríguez y Pablo Ramos Izquierdo.
</p>
<p>
	Desarrollado en la página <a href="https://github.com/JuanIRL/quiz_2017_jir_pri" target="_blank">Github Juan</a>
</p>
<p>
	Desarrollado en la página <a href="https://github.com/pramosi/quiz_2017_jir_pri" target="_blank">Github Pablo</a>
</p>

<img src="/images/juan.jpeg" />
<img src="/images/pablo.jpeg" />

