<h1>Ayuda</h1>
<p>Un quiz es un juego de respuestas a un test rápido con el que valorar tus conocimientos.</p>
<p>Para responder solo tienes que escribir tu solución en la caja de texto y pulsar enviar.</p>
<p>El objetivo es aprender y pasar un buen rato.</p>
